<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leothos.savemyplanet">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_planet_earth"
        android:label="Save My Planet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".controlers.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controlers.activities.ResponseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".controlers.activities.MainActivity" />
        </activity>
        <activity
            android:name=".controlers.activities.BarcodeCaptureActivity"
            android:label="Read Barcode"
            android:theme="@style/AppTheme" />

    </application>

</manifest>
